.test-page {
  .test-heading {
    padding: 70px 0 30px;
    background: $gold url(/img/grid-pattern-gold.svg);

    h1 {
      font-size: 45px;
      color: white;
      font-weight: 700;
    }

    p {
      margin-top: 20px;
      color: white;
      font-size: 30px;
      max-width: 700px;
      margin: 0 auto 20px;
      padding: 20px;
    }

    button {
      transition: background 0.3s;
      &:hover {
        background: $dark-gold;
        color: white;
      }
      margin-bottom: 60px;
    }

    @media screen and (max-width: 768px) {
      padding: 60px 0 20px;

      button {
        margin-bottom: 40px;
      }
    }
  }
  #radar {
    font-family: 'thaisans';
  }
  .test-form {
    padding: 40px 0 80px;
    background: lighten($dark-gold, 50%);

    .progress {
      height: 2px;
      border-radius: 0;

      .progress-bar {
        background-color: lighten($gold, 10%);
        box-shadow: none;
      }
    }

    .questions, .score, .progress {
      max-width: 800px;
      margin: 0 auto;
      user-select: none;

      h1 {
        color: $gold;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      button.alt {
        margin-bottom: 10px;
        padding: 7px 15px;
        transition: none;
      }

      .next {
        margin: 30px 0 0;
      }
    }

    .progress {
      margin-bottom: 20px;
    }

    .score {
      text-align: center;
      h1 {
        color: $dark-gold;
        font-size: 50px;
        margin-top: 0;
      }
      h2 {
        font-size: 40px;
        color: $dark-gold;
      }
      p {
        font-size: 28px;
        color: $gold;
        margin-bottom: 50px;
      }
      a {
        margin-top: 40px;
      }
    }
  }

  .subscribe {
    max-width: 400px;
    margin: 0 auto;

    h1 {
      text-align: center;
      color: $gold;
      margin-bottom: 30px;
    }

    .form-group {
      text-align: center;
      margin-bottom: 20px;

      label {
        display: inline-block;
        font-size: 24px;
        color: $gold;
        font-weight: normal;
        width: 100px;
        vertical-align: middle;
        line-height: 1;
      }

      input {
        border: 1px solid $gold;
        padding: 5px 10px;
        color: $dark-gold;
      }

      p {
        color: red;
      }

      .help-block {
        font-size: 16px;
      }
    }

    button {
      margin-top: 30px;

      &[disabled] {
        background: #ccc;
      }
    }
  }

  .description {
    background: white;
    padding: 20px 0 30px;
    h1 {
      color: $gold;
      margin: 0;
    }
  }
}
